<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/img/weather.png">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="main_content">
		{{>header}}
		<img class="portrait" src="/img/me.jpg">
	</div>
	{{>footer}}
</body>
</html>